apiVersion: apps/v1
kind: Deployment
metadata:
  name: metabase
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: metabase
  template:
    metadata:
      labels:
        app: metabase
    spec:
      containers:
        - name: metabase-staging
          image: metabase/metabase:latest
          ports:
            - containerPort: 3000
          env:
            - name: MB_DB_CONNECTION_URI
              value: "mysql://$(MB_DB_USER):$(MB_DB_PASS)@$(MB_DB_HOST):$(MB_DB_PORT)/$(MB_DB_DBNAME)?allowPublicKeyRetrieval=true&useSSL=false"
            - name: MB_DB_TYPE
              value: "mysql"
            - name: MB_DB_DBNAME
              value: "jira"
            - name: MB_DB_PORT
              value: "3306"
            - name: MB_DB_USER
              valueFrom:
                secretKeyRef:
                  name: metabase-secrets
                  key: MB_DB_USER
            - name: MB_DB_PASS
              valueFrom:
                secretKeyRef:
                  name: metabase-secrets
                  key: MB_DB_PASS
            - name: MB_DB_HOST
              valueFrom:
                secretKeyRef:
                  name: metabase-secrets
                  key:  MB_DB_DBNAME
