apiVersion: apps/v1
kind: Deployment
metadata:
  name: metabase
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: metabase
  template:
    metadata:
      labels:
        app: metabase
    spec:
      containers:
        - name: metabase-staging
          image: metabase/metabase:latest
          ports:
            - containerPort: 3000
          env:
            - name: DBNAME
              value: "jira"
            - name: PORT
              value: "3306"
            - name: USER
              valueFrom:
                secretKeyRef:
                  name: metabase-secrets
                  key: MB_DB_USER
            - name: PASS
              valueFrom:
                secretKeyRef:
                  name: metabase-secrets
                  key: MB_DB_PASS
            - name: HOST
              valueFrom:
                secretKeyRef:
                  name: metabase-secrets
                  key:  MB_DB_DBNAME
            - name: MB_DB_CONNECTION_URI
              value: "mysql://$(USER):$(PASS)@mysql:$(PORT)/jira?allowPublicKeyRetrieval=true&useSSL=false"
